version: "3.9"

services:
  user-service:
    build:
      context: ./apps/user-service
    container_name: user-service
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/healthz"]
      interval: 10s
      timeout: 2s
      retries: 3

  order-service:
    build:
      context: ./apps/order-service
    container_name: order-service
    ports:
      - "8001:8001"
    depends_on:
      user-service:
        condition: service_healthy
