apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      imagePullSecrets:
        - name: ghcr-pull-secret
      containers:
        - name: order-service
          image: ghcr.io/srikanthsarena/gitops-sre-project/order-service:c5addb6dcbdf3324ed33cb7a5e825e0ad07aacd5
          ports:
            - containerPort: 8001
