name: CI

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          - user-service
          - order-service

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}/${{ matrix.service }}

          docker build \
            -t $IMAGE_NAME:${{ github.sha }} \
            ./apps/${{ matrix.service }}

          docker push $IMAGE_NAME:${{ github.sha }}

  trivy-scan:
    name: Trivy Image Scan
    runs-on: ubuntu-latest
    needs: docker-build-and-push
    strategy:
      matrix:
        service: [user-service, order-service]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set image tag
        run: echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

      - name: Run Trivy scan
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ghcr.io/srikanthsarena/gitops-sre-project/${{ matrix.service }}:${{ env.IMAGE_TAG }}
          format: table
          exit-code: 1
          vuln-type: os,library
          severity: CRITICAL,HIGH
  